# Vite API Endpoint
# For local development: http://localhost:9000/api
# For production on Render: https://newsportal-backend.onrender.com/api
VITE_API_URL=https://newsportal-backend.onrender.com/api
